{% extends "base.html" %}

{% block content %}

{% if mode == 'edit' %}
    <h2>Edit Employee</h2>
{% else %}
    <h2>Add Employee</h2>
{% endif %}

<form method="post">
    Name:<br>
    <input type="text" name="name" required value="{{ emp.name if emp else '' }}">
    <br><br>

    Email:<br>
    <input type="email" name="email" value="{{ emp.email if emp else '' }}">
    <br><br>


    Status:<br>
    <select name="employee_status" required>
        {% for st in employee_statuses %}
            <option value="{{ st }}"
                {% if emp and (emp.status or 'Active') == st %}
                    selected
                {% elif not emp and st == 'Active' %}
                    selected
                {% endif %}
            >
                {{ st }}
            </option>
        {% endfor %}
    </select>
    <br>
    <small>Inactive employees cannot log in.</small>
    <br><br>
    Department:<br>
    <select name="department" required>
        <option value="">Select Department</option>
        {% for d in departments %}
            <option value="{{ d }}"
                {% if emp and emp.department == d %}
                    selected
                {% endif %}
            >
                {{ d }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    Supervisor:<br>
    <select name="supervisor_id">
        <option value="">No Supervisor</option>

        {% for s in supervisors %}
            <option value="{{ s.id }}"
                {% if emp and emp.supervisor_id == s.id %}
                    selected
                {% endif %}
            >
                {{ s.name }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    Username:<br>
    <input type="text" name="username" required value="{{ user_account.username if user_account else '' }}">
    <br><br>

    Password:<br>
    {% if mode == 'edit' %}
        <input type="password" name="password">
        <br>
        <small>Leave blank to keep current password.</small>
    {% else %}
        <input type="password" name="password" required>
    {% endif %}
    <br><br>

    Role:<br>
    <select name="role">
        <option value="employee"
            {% if user_account and user_account.role == 'employee' %}
                selected
            {% endif %}
        >
            Employee
        </option>

        <option value="admin"
            {% if user_account and user_account.role == 'admin' %}
                selected
            {% endif %}
        >
            Admin
        </option>
    </select>
    <br><br>

    <button type="submit">
        {% if mode == 'edit' %}
            Save Changes
        {% else %}
            Create Employee
        {% endif %}
    </button>

    <a href="{{ url_for('admin_employees') }}">Cancel</a>
</form>

{% endblock %}
